<div class="overview-container">
  <div class="overview-header">
    <lucide-icon name="history" size="30" class="icon"></lucide-icon>
    <h2 class="overview-title">Resumen de tu tiempo</h2>
  </div>

  <div class="overview-stats">
    <div class="stat total-tasks">
      <p class="stat-value">{{ activitys.length }}</p>
      <p class="stat-label">Total de actividades</p>
    </div>

    <div class="stat completed-tasks">
      <p class="stat-value">{{ completedactivitys }}</p>
      <p class="stat-label">Actividades Completadas</p>
    </div>

    <div class="stat total-minutes">
      <p class="stat-value">{{ totalMinutes }}</p>
      <p class="stat-label">Total de minutos</p>
    </div>
  </div>
</div>