<body class="container">


    <app-header></app-header>
    <div class="tasks-container">
        <div class="task-list">
            <div class="task-header">
                <lucide-icon name="calendar" class="icon"></lucide-icon>
                <h2 class="task-title">Actividades</h2>
            </div>

            <div class="search-bar">
  <input type="text" placeholder="Buscar por nombre" [(ngModel)]="searchTitle"
      (ngModelChange)="applyFilters()" class="input-search" />
  <input type="date" [(ngModel)]="searchDate" (ngModelChange)="applyFilters()" class="input-search" />
</div>
            <div class="task-items">
                <p *ngIf="activitys.length === 0" class="no-tasks">Sin actividades agregadas</p>
                <div *ngFor="let activity of filteredActivitys" class="task-item">
                    <div class="task-info">
                        <input type="checkbox" [checked]="activity.completed" (change)="toggleActivity(activity)"
                            class="custom-checkbox" />
                        <div>
                            <p [ngClass]="{ 'completed': activity.completed, 'not-completed': !activity.completed }">
                                {{ activity.title }}
                            </p>
                            <p class="task-meta">
                                {{ activity.description }}
                            </p>
                            <p class="task-meta">
                                {{ activity.duration }} minutos
                            </p>
                            <p class="task-meta">
                                para el {{ activity.date | date:"d 'de' MMMM 'de' y 'a las' hh:mm a":"es" }}
                            </p>
                            
                        </div>
                        <button (click)="deleteActivity(activity.id!)" class="delete-btn" title="Eliminar actividad">
                            <lucide-icon name="trash-2" size="22"></lucide-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-overview></app-overview>
</body>